* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainlogo {
  text-align: center;
  height: 100vh;
  background-image: url(images/bg_image.jpg);
  background-size: auto auto; 
  background-position: center 100%;
  background-repeat: no-repeat;
}
@media (max-width: 930px) {
  #mainlogo {
    background-size: 100% auto; 
 
  }

}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(219, 219, 219);

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #B2CAF0;

}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: #B2CAF0;
  margin: 10px;
  padding: 3px;
  font-weight: lighter;

}
h3 {
  font-family: 'Dancing Script', cursive;
  color: #B2CAF0;
  margin: 10px;
  padding: 60px;
  font-weight: 100;
}

img {
  height: 60rem;
  width:80rem;
}

.nav {
  font-family: 'Gabriela', serif;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #B2CAF0;
  padding: 20px;
  padding: 6px;
  padding-top: 0px;
}
nav ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

}

li a {
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 0px 2px;
  padding: 10px;
  display: flex;
  text-align: justify;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(248, 221, 221);
  color: white;
}

/* about us section */
.box .container{
  height: 10rem;
  width: 100%;
}
.box1 {
  background: rgb(255, 244, 244
  );
}
.box2 {
  height: 20rem;
  width:20rem;
  background: rgb(208, 223, 246);
}
/* On the day section */

.church {
  height: 518px;
  width: 743px;
}
.box3 {
  height: 518px;
  width:743px;
  background: rgb(251 , 224, 195);
}

/* Location */
.map {
  width: 1131px;
  height: 699px;
}
.box4 {
  height: 20rem;
  width:20rem;
  background: rgb(251 , 224, 195);
}
/* gallery */
.beer2 {
  height: 20rem;
  width:20rem;
}
.gocart {
  height: 20rem;
  width:20rem;
}
.kids {
  height: 20rem;
  width:20rem;
}
.beer {
  height: 20rem;
  width:20rem;
}
.bed {
  height: 20rem;
  width:20rem;
}
/* footer */
.logo {
  height: 15rem;
  width:20rem;
}
.box5 {
  height: 4rem;
  width:100%;
  background: rgb(251 , 224, 195);
}
